<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>SISTEMA PROYECTO</title>
	<!-- Bootstrap CSS -->
	<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/resources/css/dataTables.bootstrap5.min.css}" rel="stylesheet">
	<link th:href="@{/resources/datepicker/bootstrap-datepicker.css}" rel="stylesheet">
	<link th:href="@{/resources/css/bootstrap-icons.css}" rel="stylesheet">
	<link href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.css}">
	<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.min.css}">
	<link th:href="@{/resources/css/estilos.css}" rel="stylesheet">
</head>

<body>
	<div th:insert="fragments/NavMenu :: cabecera"></div>
	<main class="container mt-5 pt-2">
		<section>
			<div class="d-flex justify-content-between align-items-center mt-4 mb-3">
				<h3 class="text-center">MANTENIMIENTO USUARIOS</h3>
				<button type="button" class="btn btn-primary btn-success" data-bs-toggle="modal"
					data-bs-target="#modalMantenimiento">
					<i class="bi bi-plus-circle-fill"></i> Registrar
				</button>
			</div>
			<table id="tableMantenimiento" class="mt-3 mx-auto table align-middle table-hover">
				<thead class="table-dark">
					<tr>
						<th>Id</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Celular</th>
						<th>Dni</th>
						<th>Estado</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="row:${usuarios}">
						<td th:text="${row.id}"></td>
						<td th:text="${row.nombre}"></td>
						<td th:text="${row.apellido}"></td>
						<td th:text="${row.celular}"></td>
						<td th:text="${row.dni}"></td>
						<td th:switch="${row.estado}">
							<p th:case="1" class="bg-success text-center m-0  py-1 rounded-pill">Activo</p>
							<p th:case="0" class="bg-danger text-center m-0   py-1 rounded-pill">Desactivo</p>
						</td>
						<td>
							<button type="button" class="btn btn-primary btn-editar" data-bs-toggle="modal"
								data-bs-target="#modalMantenimiento">
								<i class="bi bi-pencil-square"></i>
							</button>
							<button type="button" class="btn btn-danger btn-eliminar">
								<i class="bi bi-trash-fill"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			<button type="button" class="btn btn-warning" id="btn-reporte">Reporte</button>
		</section>
		<!-- Modal PARA REGISTRAR y Editar-->
		<div class="modal fade" id="modalMantenimiento" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">
					<div class="modal-header bg-primary">
						<h5 class="modal-title text-white" id="staticBackdropLabel"><i class="bi bi-person-circle"></i>
							USUARIO</h5>
						<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form id="formMantenimiento" action="grabar" method="post" class="row g-3">
							<div class="form-group col-md-2">
								<label for="validationCustomUsername" class="form-label fw-bold">Id</label>
								<div class="input-group has-validation">
									<span class="input-group-text" id="inputGroupPrepend"><i
											class="bi bi-hash"></i></i></span>
									<input type="text" class="form-control" name="id" id="idId" readonly value="0">
								</div>
							</div>
							<div class="form-group col-md-5">
								<label for="validationCustomUsername" class="form-label fw-bold">Nombre</label>
								<div class="input-group has-validation">
									<span class="input-group-text" id="inputGroupPrepend"><i
											class="bi bi-file-person"></i></span>
									<input type="text" class="form-control" name="nombre" id="idNombre">
								</div>
							</div>
							<div class="form-group col-md-5">
								<label for="validationCustomUsername" class="form-label fw-bold">Apellido</label>
								<div class="input-group has-validation">
									<span class="input-group-text" id="inputGroupPrepend"><i
											class="bi bi-file-person"></i></span>
									<input type="text" class="form-control" name="apellido" id="idApellido">
								</div>
							</div>
							<div class="form-group col-md-4">
								<label for="validationCustomUsername" class="form-label fw-bold">DNI</label>
								<div class="input-group has-validation">
									<span class="input-group-text" id="inputGroupPrepend"><i
											class="bi bi-file-person"></i></span>
									<input type="number" class="form-control" name="dni" id="idDni">
								</div>
							</div>
							<div class="form-group col-md-4">
								<label for="validationCustomUsername" class="form-label fw-bold">User</label>
								<div class="input-group has-validation">
									<span class="input-group-text" id="inputGroupPrepend"><i
											class="bi bi-file-person"></i></span>
									<input type="text" class="form-control" name="usser" id="idUser">
								</div>
							</div>
							<div class="form-group col-md-4">
								<label for="validationCustomUsername" class="form-label fw-bold">Password</label>
								<div class="input-group has-validation">
									<span class="input-group-text" id="inputGroupPrepend"><i
											class="bi bi-file-person"></i></span>
									<input type="password" class="form-control" name="password" id="idPassword">
								</div>
							</div>
							<div class="form-group col-md-4">
								<label for="validationCustomUsername" class="form-label fw-bold">Celular</label>
								<div class="input-group has-validation">
									<span class="input-group-text" id="inputGroupPrepend"><i
											class="bi bi-phone-fill"></i></span>
									<input type="number" class="form-control" name="phone" id="idCelular">
								</div>
							</div>
							<div class="form-group col-md-4">
								<label for="validationCustomUsername" class="form-label fw-bold">Fecha
									Nacimiento</label>
								<div class="input-group has-validation">
									<span class="input-group-text" id="inputGroupPrepend"><i
											class="bi bi-calendar-date"></i></span>
									<i class="fas fa-calendar-week form-control-feedback2"></i>
									<input type="text" style="background-color:#aed6f1" class="form-control"
										id="idFechNac" name="fechaNacimiento" placeholder="YYYY-MM-DD"
										autocomplete="off">

								</div>
							</div>
							<div class="form-group col-md-4">
								<label for="validationCustomUsername" class="form-label fw-bold">Estado</label>
								<div class="input-group has-validation">
									<span class="input-group-text" id="inputGroupPrepend"><i
											class="bi bi-exclamation-circle-fill"></i></span>
									<select class="form-select form-control" name="estado" id="idEstado">
										<option value="1">Activo</option>
										<option value="0">Desactivo</option>
									</select>
								</div>
							</div>
							<div class="form-group col-md-4">
								<label for="validationCustomUsername" class="form-label fw-bold">Tipo</label>
								<div class="input-group has-validation">
									<span class="input-group-text" id="inputGroupPrepend"><i
											class="bi bi-file-earmark-person-fill"></i></span>
									<select class="form-select form-control" name="tipoUsuario" id="idTipoUsuario">
										<option value="0">[Seleccione Tipo]</option>
										<option th:each="row:${tiposUsuarios}" th:utext="${row.nombre}"
											th:value="${row.id}">
										</option>
									</select>
								</div>
							</div>
							<div class="form-group col-md-4">
								<label for="validationCustomUsername" class="form-label fw-bold">Rol</label>
								<div class="input-group has-validation">
									<span class="input-group-text" id="inputGroupPrepend"><i
											class="bi bi-file-earmark-person-fill"></i></span>
									<select class="form-select form-control" name="rol" id="idRol">
										<option value="0">[Seleccione Rol]</option>
										<option th:each="row:${roles}" th:utext="${row.nombre}" th:value="${row.id}">
										</option>
									</select>
								</div>
							</div>
							<div class="form-group col-md-4">
								<label for="validationCustomUsername" class="form-label fw-bold">Distrito</label>
								<div class="input-group has-validation">
									<span class="input-group-text" id="inputGroupPrepend"><i
											class="bi bi-house-fill"></i></span>
									<select class="form-select form-control" name="distrito" id="idDistrito">
										<option value="0">[Seleccione Distrito]</option>
										<option th:each="row:${distritos}" th:utext="${row.nombre_dis}" th:value="${row.id}">
									</select>
								</div>
							</div>
							<div class="form-group col-md-8">
								<label for="validationCustomUsername" class="form-label fw-bold">Direccion</label>
								<div class="input-group has-validation">
									<span class="input-group-text" id="inputGroupPrepend"><i
											class="bi bi-house-fill"></i></span>
									<input type="text" class="form-control" name="direccion" id="idDireccion">
								</div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-success btn-guardar"><i class="bi bi-save2"></i>
									Guardar</button>
								<button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i
										class="bi bi-x-circle-fill"></i> Cerrar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!--fin modal PARA REGISTRAR-->
	</main>
	<!-- JS principal -->
	<script th:src="@{/resources/js/jquery-3.5.1.js}"></script>
	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
	<!-- JS para la tabla -->
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
	<!--JS para validar  -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.0/js/bootstrapValidator.js"></script>
	<!--JS para Calendario  -->
	<script th:src="@{/resources/datepicker/bootstrap-datepicker.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script th:src="@{/resources/alertifyjs/alertify.js}"></script>
	<script th:src="@{/resources/alertifyjs/alertify.min.js}"></script>
	<script th:inline="javascript" th:if="${MENSAJE!=null}">
		let msj;
		msj =/*[[${MENSAJE}]]*/
			toastr.success(msj, toastr.options = {
				"timeOut": "2000",
				"positionClass ": " toast-top-right ",
			});
	</script>
	<script th:inline="javascript">
		let usuarios; 
			usuarios = /*[[${usuarios}]]*/
		console.log(usuarios)
	</script>
	<script>
		let idUsu=0
		let idDistrito = 0;
		function setFormSaveEmpty() {
			$("#idId").val(0);
			$("#idNombre").val("");
			$("#idApellido").val("");
			$("#idDni").val("");
			$("#idUser").val("");
			$("#idPassword").val("");
			$("#idCelular").val("");
			$("#idFechNac").val("");
			$("#idEstado").val(1);
			$("#idTipoUsuario").val(0);
			$("#idRol").val(0);
			$("#idDistrito").val(0);
			$("#idDireccion").val("");
			idCiudad = 0;
			idDistrito = 0;
			idUsu=0
		}
		//DatePicker ??
		$(function () {
			$('#idFechNac').datepicker({
				'format': 'yyyy-mm-dd',
				'autoclose': true
			});

		});
		//Validaciones de Formulario
		$(document).ready(function () {
			$('#tableMantenimiento').DataTable({
        	"language": {
       	     "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
        	},
       	 	dom: 'Bfrtip',
        	buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        	]
    	});
			$('#modalMantenimiento')
				.on('hidden.bs.modal', function () {
					$("#formMantenimiento").bootstrapValidator('resetForm', true);
					setFormSaveEmpty();
				})
			$('#formMantenimiento').bootstrapValidator({
				fields: {
					nombre: {
						validators: {
							notEmpty: {
								message: 'Campo nombre es obligatorio'
							},
							regexp: {
								regexp: /^[a-z0-9A-Z\s+]{1,}$/,
								message: "El nombre debe ser alfanumerico"
							}
						}
					},
					apellido: {
						validators: {
							notEmpty: {
								message: 'Campo apellido es obligatorio'
							},
							regexp: {
								regexp: /^[a-z0-9A-Z\s+]{1,}$/,
								message: "El apellido debe ser alfanumerico"
							}
						}
					},
					usser: {
						validators: {
							callback: {
								message: 'Este usuario ya ha sido registrado',
								callback: function (value, validator) {
									let valid = true	
									usuarios.forEach(usuario=>{
										if((usuario.id).toString()=== idUsu) {
											//valid= true
											if(value===usuario.correo){
												valid=true
											}
										}
										else if(value===usuario.correo) {
											valid = false
										} 											
									});
									
									return (valid)
								}

							},
							notEmpty: {
								message: 'Campo usuario es obligatorio'
							}
						}
					},
					password: {
						validators: {
							notEmpty: {
								message: 'Campo Password es obligatorio'
							}
						}
					},
					dni: {
						validators: {
							notEmpty: {
								message: 'Campo dni es obligatorio'
							},
							regexp: {
								regexp: /^[0-9]{8}$/,
								message: "Debe contener 8 digitos"
							}
						}
					},
					phone: {
						validators: {
							notEmpty: {
								message: 'Campo celular es obligatorio'
							},
							regexp: {
								regexp: /^[0-9]{9}$/,
								message: "Debe contener 9 digitos"
							}
						}
					},
					tipoUsuario: {
						validators: {
							callback: {
								message: 'Es necesario escoger un Tipo',
								callback: function (value, validator) {
									//console.log(value,validator)										
									return (value !== "0")
								}

							}
						}
					},
					rol: {
						validators: {
							callback: {
								message: 'Es necesario escoger un Rol',
								callback: function (value, validator) {
									//console.log(value,validator)										
									return (value !== "0")
								}

							}
						}
					},
					fechaNacimiento: {
						//selector:'#usr1',   
						validators: {
							notEmpty: {
								message: 'Seleccione fecha '
							},
							date: {
								format: 'YYYY-MM-DD',
								message: 'The format is YYYY-MM-DD'
							},
							callback: {
								message: 'Tienes que ser mayor de edad',
								callback: function (value, validator) {
									if (value !== "") {
										let fechaNac = new Date(value);
										let fechaHoy = new Date();
										let diferencia = fechaHoy.getTime() - fechaNac.getTime();
										if (diferencia > 567648000000) {
											return true;
										}
									}
									return (false)
								}

							}
						}
					},


				}
			})
		});
		//Acciones
		//Boton Editar
		$(document).on("click", ".btn-editar", function () {
			idUsu = $(this).parents("tr").find("td")[0].innerHTML;		
			$.get("buscar?id=" + idUsu, function (response) {
				$("#idId").val(response.id);
				$("#idNombre").val(response.nombre);
				$("#idApellido").val(response.apellido);
				$("#idDni").val(response.dni);
				$("#idUser").val(response.usser);
				$("#idPassword").val(response.contrasenia);
				$("#idCelular").val(response.celular);
				$("#idFechNac").val(response.fechaNac);
				$("#idEstado").val(response.estado);
				$("#idDireccion").val(response.direccion);
				$("#idTipoUsuario").val(response.tipoUsuario.id);
				$("#idRol").val(response.rol.id);
				$("#idDistrito").val(response.distrito.id);
			})
		});
		//Boton Eliminar
		$(document).on("click", ".btn-eliminar", function () {
			idUsu = $(this).parents("tr").find("td")[0].innerHTML;
			alertify.confirm("Confirmacion", "Desea eliminar al Usuario?",
				function () {
					window.location = "eliminar?id=" + idUsu;
				},
				function () {
					//alertify.error('Cancel');
					console.log("cancelo Operacion")
				});
		})
		//ComboBox
		$(document).on("change", "#idDepartamento", function () {
			let codDep = $(this).val();
			console.log(codDep);
			if (codDep === "0") {
				$("#idCiudad").empty();
				$("#idCiudad").append("<option  value='0'>[Seleccione Ciudad]</option>");
				$("#idDistrito").empty()
				$("#idDistrito").append("<option value='0'>[Seleccione Distrito]</option>");
			} else {
				$.get(`buscarPorDepartamento?id=${codDep}`, function (response) {
					$("#idCiudad").empty();
					$("#idCiudad").append("<option  value='0'>[Seleccione Ciudad]</option>");
					$.each(response, function (index, item) {
						$("#idCiudad").append("<option value='" + item.id + "'>" + item.nombre + "</option>");
					})
					$("#idCiudad").val(idCiudad);
					$("#idCiudad").trigger("change");
				})
			}
		})
		$(document).on("change", "#idCiudad", function () {
			let codCiu = $(this).val();
			if (codCiu === "0"||codCiu==null) {
				$("#idDistrito").empty()
				$("#idDistrito").append("<option value='0'>[Seleccione Distrito]</option>");
			}
			else {
				$.get("buscarPorCiudad?id=" + codCiu, function (response) {
					$("#idDistrito").empty()
					$("#idDistrito").append("<option value='0'>[Seleccione Distrito]</option>");
					$.each(response, function (index, item) {
						$("#idDistrito").append("<option value='" + item.id + "'>" + item.nombre + "</option>");
					})
					$("#idDistrito").val(idDistrito);
				})
			}

		})
		$(document).on("click","#btn-reporte",function(){
			window.open("http://localhost:8088/Usuarios/reporte","_black")
						
		})
	</script>
</body>

</html>