<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta charset="ISO-8859-1">
<title>SISTEMA PROYECTO</title>
<!-- Bootstrap CSS -->
<link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/resources/css/dataTables.bootstrap5.min.css}"
	rel="stylesheet">
<link th:href="@{/resources/datepicker/bootstrap-datepicker.css}"
	rel="stylesheet">
<link th:href="@{/resources/css/bootstrap-icons.css}" rel="stylesheet">
<link
	href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	th:href="@{/resources/alertifyjs/css/alertify.css}">
<link rel="stylesheet"
	th:href="@{/resources/alertifyjs/css/alertify.min.css}">
<link th:href="@{/resources/css/estilos.css}" rel="stylesheet">

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>

	<div th:insert="fragments/NavMenu :: cabecera"></div>
	<main class="container mt-5 pt-2">
		<!-- Page Content -->
		<div class="container">
			<h1 class="mt-4 mb-3">
				QuickStore <small>Resumen de la orden</small>
			</h1>
			<div class="card mb-4">
				<div class="card-body">
					<div class="row">
						<div class="col-lg-9">
							<div class="card-body">
								<h5 class="card-title">DATOS ORDEN</h5>
								<h6>
									Nombre: <span
										th:text="${venta.cliente.nombre_cli} + ' '+ ${venta.cliente.apellido_cli}"></span>
								</h6>
								<h6>
									Telefono: <span th:text="${venta.cliente.celular_cli}"></span>
								</h6>
								<h6>
									Direccion: <span th:text="${venta.cliente.direccion_cli}"></span>
								</h6>

								<h5 class="card-title">PRODUCTOS</h5>
								<div class="alert alert-light" role="alert">
									<table class="mt-3 mx-auto table align-middle table-hover">
										<thead class="table-dark">
											<tr>
												<th scope="col">Producto</th>
												<th scope="col">Precio</th>
												<th scope="col">Cantidad</th>
												<th scope="col">Total</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="dtpedido:${detalles}">
												<td th:text="${dtpedido.producto.nombre}"></td>
												<td th:text="${dtpedido.precio}"></td>
												<td th:text="${dtpedido.cantidad}"></td>
												<td th:text="${dtpedido.total}"></td>

											</tr>
										</tbody>
									</table>
								</div>

							</div>
						</div>


						<div class="col-lg-3">
							<h2 class="card-title">Resumen Orden</h2>

							<ul class="list-group">
								<li class="list-group-item"><h5>
										Total: S/ <span th:text="${venta.sumaTotal}"></span>
									</h5></li>
								<!--<form action="/Pedidos/reporte/pdf" method="get" target="_blank">
    <input type="hidden" name="codigoVenta" value="3">
    
</form>-->							
								<a class="btn btn-dark" th:href="@{/Pedidos/generar-pdf/{idVenta}(idVenta=${venta.id})}" target="_blank">Generar PDF</a>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<!-- /.container -->


	<script>
        $(document).ready(function() {
            $("#generarPDF").click(function() {
                // Realizar una solicitud GET al endpoint de generación de PDF en tu backend
                $.get("/Pedidos/reporte/pdf/", { codigoVenta: 3 }, function(data) {
                    // La respuesta del backend contiene el archivo PDF generado
                    // Puedes redirigir al usuario a la descarga del archivo o manipularlo de alguna otra manera
                    // Por ejemplo, abrir el PDF en una nueva pestaña del navegador
                    window.open(URL.createObjectURL(data));
                });
            });
        });
    </script>
	<!-- JS principal -->
	<script th:src="@{/resources/js/jquery-3.5.1.js}"></script>
	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
	<!-- JS para la tabla -->
	<script
		src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
	<!--JS para validar  -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.0/js/bootstrapValidator.js"></script>
	<!--JS para Calendario  -->
	<script th:src="@{/resources/datepicker/bootstrap-datepicker.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script th:src="@{/resources/alertifyjs/alertify.js}"></script>
	<script th:src="@{/resources/alertifyjs/alertify.min.js}"></script>
	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	
</body>

</html>